.clickable{
    text-decoration: underline;
    padding: 0 3px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;

    &:hover{
        font-weight: bolder;
    }
}
