.tips {
  width: 200px;

  .oneLine {
    height: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  .name {
    .oneLine();
  }

  .description {
    padding: 5px;
    color: #999999;
  }
}

.label {
  color: lightskyblue;
  border: none;
}