@border-color:grey;

.window {
  border: 2px @border-color solid;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.titleBar{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
  border-bottom: 1px solid @border-color;
}

.content{
  flex: 1;
  display: flex;

  :only-child{
    flex: 1;
  }
}

