

.tips{
    background-color: black;
    border: 1px solid grey;

    .ant-popover-content{
        .ant-popover-inner{
            .ant-popover-inner-content{
                background-color: black;
                border: 1px solid grey;
                border-radius: 0;
                padding: 2px;
            }
        }
    }

}

